.nav {
    display: flex;
    background-color: aquamarine;
}

.nav a {
    margin-left: 50px;
}

.IMG {
    background-image: url("images/img_bg_2.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.c1 {
    margin: 0 40px;
}

.c2 {
    margin: 0 40px;
}

.c3 {
    margin: 0 40px;
}

.c4 {
    margin: 0 40px;
}

.c5 {
    margin: 0 40px;
}

.c6 {
    margin: 0 40px;
}

.c7 {
    margin: 0 40px;
}

.c8 {
    margin: 0 40px;
}

.c9 {
    margin: 0 40px;
}

.c10 {
    margin: 0 40px;
}

.c11 {
    margin: 0 40px;
}

.c12 {
    margin: 0 40px;
}

.c13 {
    margin: 0 40px;
}

.c14 {
    margin: 0 40px;
}

.c15 {
    margin: 0 40px;
}

.c16 {
    
    margin: 0 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
